.navbar-lewagon {
  justify-content: space-between;
  background: #EEF4E6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  padding: 0.7rem 0.4rem;
}
