// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.btn-success {
  background-color: #4A7C2F !important;
  border-color: #4A7C2F !important;
  color: #ffffff !important;
}

.btn-success:hover {
  background-color: #EEF4E6 !important;
  border-color: #C8D9B8 !important;
  color: #4A7C2F !important;
}

.badge.bg-success {
  background-color: #4A7C2F !important;
}

.badge.bg-info {
  background-color: #4A7C2F !important;
}

.btn-outline-success {
  color: #4A7C2F !important;
  border-color: #4A7C2F !important;
}

.btn-outline-success:hover {
  background-color: #4A7C2F !important;
  color: white !important;
}
